p {
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Roboto, Arial;
}

body {
    font-family: Roboto, Arial;  /* This font style will be inherited */
    margin: 0;
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 20px;
    background-color: rgb(241, 240, 240);

    
}